.productCard{
    width:250px;
    height:100%;
    background-color: white;
    padding-top:5px;
}

.productCard img{
    width:190px;
    height:180px;
}

.cardBtn{
    background-color:white;
    border-radius: 10px;
    border: 2px solid blue;
    padding:0px !important;
    width: 120px;
    margin-left: 20px;
}

.productCard img:hover{
    cursor: pointer;
}

.productCardLower{
    font-size:20px;
    margin: 0px 2px;
}